<center><h4>Product Catalog</h4></center>
<table class='table table-hover'>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Cost</th>
    </tr>
    
    {% for part in parts %}
        {{ part|safe }}
    {% endfor %}
</table>
<center>
    <ul class="pagination">
        {% if pagination.has_prev %}
        <li><a href="{{ url_for('products.catalog', page_number=pagination.prev_num) }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                <li><a href="{{ url_for('products.catalog', page_number=page) }}">{{ page }}</a></li>
                {% else %}
                <li class="active"><span>{{ page }}</span></li>
                {% endif %}
            {% else %}
            <li><span>...</span></li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li><a href="{{ url_for('products.catalog', page_number=pagination.next_num) }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</center>
