<div class="col-md-5">
    <center>
        <h3>Vehicle Lookup</h3>
    </center>
    <form role="form" id="vehicle_lookup" class="form-horizontal">
        <div class="form-group">
            <label for="make" class="control-label col-md-4">Make: </label>
            <div class="col-md-8">
                <select id="make" class="form-control input-sm" disabled>
                    <option value="-1" selected>Select a Make</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="control-label col-md-4">Type: </label>
            <div class="col-md-8">
                <select id="type" class="form-control input-sm" disabled>
                    <option value="-1" selected>Select a Type</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="model" class="control-label col-md-4">Model: </label>
            <div class="col-md-8">
                <select id="model" class="form-control input-sm" disabled>
                    <option value="#" selected>Select a Model</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="year" class="control-label col-md-4">Year: </label>
            <div class="col-md-8">
                <select id="year" class="form-control input-sm" disabled>
                    <option value="#" selected>Select a Year</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="engine" class="control-label col-md-4">Engine Size: </label>
            <div class="col-md-8">
                <select id="engine" class="form-control input-sm" disabled>
                    <option value="#" selected>Select an Engine</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div id="results" class="col-md-6">
</div>
<script>
function unload_list(dom) {
    $(dom).html(
            "<option value='-1' selected>Select a " + $(dom).attr("id") + "</option>"
            );
    $(dom).prop("disabled", true);
}

function load_list(dom, params) {
    $.post( "{{ url_for('vehicle_lookup.index') }}vl" + dom, params, 'json')
        .done(function( response ) {
            var obj = $.parseJSON(response);
            $.each( obj.data, function( i, item) {
                $("#"+dom).append("<option value='" + item['ID'] + "'>" + item['Name'] + "</option>");
            });
            $("#"+dom).prop("disabled", false);
        })
        .fail(function() {
            alert("Failed");
        });
}

$(function(){
    console.log("document ready");

    unload_list("#make");
    unload_list("#type");
    unload_list("#model");
    unload_list("#year");
    unload_list("#engine");

    load_list("make", {});
    $("#make").prop("disabled", false);
    $("#make").on("change", function(){
        console.log($(this).attr("id") + " changed to " + $(this).val());
        unload_list("#type");
        load_list("type", {
            make: $(this).val()});
        unload_list("#model");
        unload_list("#year");
        unload_list("#engine");
    });

    $("#type").on("change", function(){
        console.log($(this).attr("id") + " changed to " + $(this).val());
        unload_list("#model");
        load_list("model", {
            make: $('#make').val(),
            type: $(this).val()});
        unload_list("#year");
        unload_list("#engine");
    });

    $("#model").on("change", function(){
        console.log($(this).attr("id") + " changed to " + $(this).val());
        unload_list("#year");
        load_list("year", {
            model: $(this).val()});
        unload_list("#engine");
    });

    $("#year").on("change", function(){
        console.log($(this).attr("id") + " changed to " + $(this).val());
        unload_list("#engine");
        load_list("engine", {
            model: $("#model").val(),
            year: $(this).val()});
    });

    $("#engine").on("change", function(){
        console.log($(this).attr("id") + " changed to " + $(this).val());
    });
});
</script>
